<header class="header-6">
    <button class="btn btn-primary config-button" (click)="configModal.open()">Config</button>
    <label for="search_input">
        <input id="search_input" type="text" placeholder="Find user" [formControl]="searchControl" />
    </label>
    <button class="clear-search" *ngIf="searchControl.value" (click)="clearSearch()" tabindex="0" @fadeInOut>
        <svg version="1.1" viewBox="0 0 20.699 21.479" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(1.632 1.6339)" label="Layer 1">
                <path d="m-2.5783e-4 -0.0014681 17.436 18.214" fill="#5f6368" stroke="#5f6368" stroke-linecap="round"
                    stroke-width="3.2316" />
                <path d="m-2.5783e-4 18.212 17.436-18.214" fill="#5f6368" stroke="#5f6368" stroke-linecap="round"
                    stroke-width="3.2316" />
                <title>Layer 1</title>
            </g>
        </svg>
    </button>
</header>

<div class="content-container">

    <am-user-newuser (created)="newUserCreated.next()"></am-user-newuser>
    <am-user-users [refresher]="refreshForNewUser" [search]="search$"></am-user-users>

</div>

<clr-modal #configModal clrModalSize="xl">
    <h3 class="modal-title">Configure Demo Mode</h3>
    <div class="modal-body" [formGroup]="configForm" clrLayout="horizontal" style="overflow:hidden">
        <p>For demonstration purposes, we can simulate various network conditions to see how the application handles
            potential problems. The application will simulate random network delays and failures.</p>
        <p>These can be configured below. The values will be saved to your browser's local storage.</p>
        <div class="form-controls">
            <div>
                <clr-range-container>
                    <label>Probability for Errors</label>
                    <input type="range" clrRange min="0" max="1" step=".1" formControlName="errorProbability">
                </clr-range-container>
                <div class="value-display">Set to <span>{{configForm.get('errorProbability')?.value}}</span></div>
            </div>
            <div>
                <clr-range-container>
                    <label>Maximum Delay</label>
                    <input type="range" clrRange min="0" [max]="maxMaxDelay" step="100" formControlName="maxDelay">
                </clr-range-container>
                <div class="value-display">Set to seconds <span
                        style="display:inline-block;min-width:35px;">{{configForm.get('maxDelay')?.value/1000}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="configModal.close()">Cancel</button>
        <button type="button" class="btn btn-primary"
            (click)="configModal.close();saveConfig(configForm.value)">Ok</button>
    </div>
</clr-modal>