.config-button {
    margin: 12px;
}

.clear-search {
    width: 22px;
    height: 22px;
    margin: 21px 12px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: transform 500ms;
    cursor: pointer;
    outline: none;
    outline-offset: 3px;
    path { transition: stroke 500ms; }
    &:not(:hover):focus { outline: 3px solid white; }
    &:hover, &:focus {
        transform: rotate(180deg);
        path { stroke: #1db9fc; }
    }
}

.content-container {
    padding: 8px 16px;
}

.form-controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: space-around;
    justify-items: center;
}

.value-display {
    margin-top: 12px;
    span {
        font-weight: bold;
    }
}

[for=search_input] {
    display: flex;
    align-items: center;
    input {
        margin-top: 3px;
        margin-left: 8px;
        padding: 0 8px;
        background-color:#02587e;
        color: white;
        border-radius: 4px;
        width: calc(100vw - 300px)
    }
    input::placeholder {
        color: white;
    }
    &:before {
        display: inline-block;
        content: "";
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23ffffff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3ESearch%3C%2Ftitle%3E%3Cg%20id%3D%22icons%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M15%2C4.05A10.95%2C10.95%2C0%2C1%2C1%2C4.05%2C15%2C11%2C11%2C0%2C0%2C1%2C15%2C4.05M15%2C2A13%2C13%2C0%2C1%2C0%2C28%2C15%2C13%2C13%2C0%2C0%2C0%2C15%2C2Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20%20d%3D%22M33.71%2C32.29l-7.37-7.42-1.42%2C1.41%2C7.37%2C7.42a1%2C1%2C0%2C1%2C0%2C1.42-1.41Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
}

