<div class="card" tabindex="0">
    <div class="card-header">{{userAndKey.data?.name ?? '&lt;Unknown&gt;'}}</div>
    <div class="card-block">
        <div class="card-media-block">
            <img src="/assets/user-icon.png" width="64" class="card-media-image" />
            <div class="card-media-description">
                <span class="card-media-title">{{ userAndKey.data?.role ?? '&lt;Unknown&gt;' }}</span>
                <span class="card-media-text" *ngIf="userAndKey.data.timestamp">Member Since {{ userAndKey.data.timestamp | date:'short' }} </span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline" (click)="editUserWizard.open()">Edit</button>
        <button class="btn btn-danger-outline" (click)="showRemoveDialog=true">Remove</button>
    </div>
</div>

<clr-modal [(clrModalOpen)]="showRemoveDialog">
    <h3 class="modal-title">Remove {{userAndKey.data?.name}} {{ userAndKey.data?.role}}</h3>
    <div class="modal-body">
        <p>Remove this user?</p>
        <p>If you proceed, this operation cannot be un-done.</p>
        <div style="height:24px;">
            <progress style="width:100%" *ngIf="status==='waiting'"></progress>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showRemoveDialog=false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="remove(userAndKey.ref)">Remove</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showErrorMessage">
    <h3 class="modal-title">Error removing {{userAndKey.data?.name}} {{ userAndKey.data?.role}}</h3>
    <div class="modal-body">
        <clr-alert [clrAlertClosable]="false" clrAlertType="danger">
            <clr-alert-item>
                <span class="alert-text">Error occured while removing user</span>
            </clr-alert-item>
        </clr-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showErrorMessage=false">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showSuccessMessage">
    <h3 class="modal-title">Successfully removed {{userAndKey.data?.name}} {{ userAndKey.data?.role}}</h3>
    <div class="modal-body">
        <clr-alert [clrAlertClosable]="false" clrAlertType="success">
            <clr-alert-item>
                <span class="alert-text">User successfully removed - sorry to see them go ;)</span>
            </clr-alert-item>
        </clr-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showSuccessMessage=false">Ok</button>
    </div>
</clr-modal>



<clr-wizard
    clrWizardSize="md"
    (clrWizardOnNext)="update(editUserWizard.isLast, userForm.value)"
    (clrWizardOnFinish)="updated.next(userAndKey.id)"
    [clrWizardDisableStepnav]="status==='waiting'" [clrWizardPreventNavigation]="status==='waiting'"
    #editUserWizard
>
    <clr-wizard-title>Edit User</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Introduction</ng-template>
        <p>Here we can edit user information</p>
        <p>Here we do not enforce the requirement that user name is unique.</p>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="userForm.invalid">
        <ng-template clrPageTitle>Edit User</ng-template>
        <form clrForm clrLayout="vertical" [formGroup]="userForm">
            <clr-input-container>
                <label>User's Name</label>
                <input clrInput formControlName="name" /><span c>Loading!</span>
                <clr-control-helper>Enter unique name for the new user</clr-control-helper>
                <clr-control-success>Nice name!</clr-control-success>
                <clr-control-error *clrIfError="'nonempty'">Name should not be empty</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Name should be at least
                    {{ nameControl.errors!.minlength.requiredLength }} characters
                    long</clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">Name should be at most
                    {{ nameControl.errors!.maxlength.requiredLength }} characters
                    long</clr-control-error>
                <clr-control-error *clrIfError="'titlecase'">Name should be in title case</clr-control-error>
                <clr-control-error *clrIfError="'uniquename'">Name "{{ nameControl.errors!.uniquename.name }}" already
                    exists</clr-control-error>
            </clr-input-container>

            <clr-select-container>
                <label>Specify Role</label>
                <clr-control-helper>Select the role of the user</clr-control-helper>
                <clr-control-success>Great role!</clr-control-success>
                <select clrSelect formControlName="role">
                    <option *ngFor="let role of roles$ | async" [value]="role">
                        {{ role }}
                    </option>
                </select>
            </clr-select-container>

            <clr-date-container>
                <label>Memer Since</label>
                <input type="date" clrDate formControlName="timestamp">
                <clr-control-error *clrIfError="'nonempty'">Date should not be empty</clr-control-error>
                <clr-control-error *clrIfError="'clrDateValidator'">Invalid date.<br>Expected format {{timestampControl.errors!.clrDateValidator.format}}</clr-control-error>
            </clr-date-container>

        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="status!=='success'">
        <ng-template clrPageTitle>Finish</ng-template>
        <ng-container [ngSwitch]="status">
            <clr-alert *ngSwitchCase="'success'" clrAlertType="info" [clrAlertClosable]="false">
                <clr-alert-item>
                    Successfully updated. Close the wizard to refresh the view
                </clr-alert-item>
            </clr-alert>
            <ng-template ngSwitchCase="error">
                <clr-alert clrAlertType="danger" [clrAlertClosable]="false">
                    <clr-alert-item>
                        Error occured while attempting to update user.
                    </clr-alert-item>
                </clr-alert>
                <button class="btn btn-outline" style="float:right" (click)="update(editUserWizard.isLast, userForm.value)">Retry</button>
            </ng-template>
            <progress *ngSwitchCase="'waiting'" style="width:100%;margin-top:32px;"></progress>
        </ng-container>
    </clr-wizard-page>
</clr-wizard>
