@import 'all';

:host {
    margin-top: $margin-top;
    display: grid;
    grid-auto-columns: max-content;
    justify-content: center;
    column-gap: $column-gap;
    @include mobile() {
        grid-auto-flow: row;
    }
    @include tablet-up() {
        grid-auto-flow: column;
    }
}
